[Unit]
Description=Compose Service for %i
Requires=docker.service
After=docker.service
BindsTo=docker.service
StartLimitBurst=5
StartLimitIntervalSec=100

[Service]
Type=simple
EnvironmentFile=-/etc/compose.env
EnvironmentFile=-%h/.config/compose.env
EnvironmentFile=-%h/.config/docker/compose.env
ExecStart=COMPOSECTL_PATH run-service %i
ExecStop=COMPOSECTL_PATH stop-service %i

Restart=on-failure
RestartSec=10
TimeoutStopSec=60

[Install]
WantedBy=default.target
