[Unit]
Description=Compose Service for %i
Wants=docker.service
After=docker.service
StartLimitBurst=5
StartLimitIntervalSec=100

[Service]
Type=oneshot
RemainAfterExit=yes
EnvironmentFile=-/etc/compose.env
EnvironmentFile=-%h/.config/compose.env
EnvironmentFile=-%h/.config/docker/compose.env
WorkingDirectory=${compose_base}/%I
ExecStart=${compose_bin_path} up --wait --remove-orphans
ExecStop=${compose_bin_path} down --remove-orphans
ExecStopPost=${compose_bin_path} down --remove-orphans
Restart=on-failure
RestartSec=10
TimeoutStopSec=60

[Install]
WantedBy=default.target
